<div class="container">
    <div class="container text-center" style="margin:30px">
        <h2> <i class="bi bi-bag-plus"></i> Añadir proveedores</h2>
    </div>
<form>
  <div class="mb-3" style="margin-right:90px; margin-left:90px">
    <label for="exampleInputEmail1" class="form-label">Nombre del Proveedor</label>
    <input type="string" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">(Preferiblemente idéntico al de la empresa)</div>
  </div>
  <div class="mb-3" style="margin-right:90px; margin-left:90px">
    <label for="exampleInputPassword1" class="form-label">Teléfono</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3" style="margin-right:90px; margin-left:90px">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3" style="margin-right:90px; margin-left:90px">
    <label for="exampleInputPassword1" class="form-label">Localización</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">(Ubicación en San Antonio de los Altos)</div>
  </div>
  <div class="mb-3" style="margin-right:90px; margin-left:90px">
    <label for="exampleInputPassword1" class="form-label">Especialización</label>
    <input type="string" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">(Productos que comercializa principalmente)</div>
  </div>
  <div class="mb-3" style="margin-right:90px; margin-left:90px">
    <label for="exampleInputPassword1" class="form-label">Plazo de Entrega</label>
    <input type="string" class="form-control" id="exampleInputPassword1">
    <div id="emailHelp" class="form-text">(Tiempo de entrega. Ej: 2 días)</div>
  </div>
  </form>
  
<div class="mb-3 d-flex justify-content-between" style="margin-right:90px; margin-left:90px">
    <button type="submit" class="btn btn-outline-success" style="background-color: #022407; width: 140px; padding: 10px; margin-left:280px">Confirmar</button>
    <button type="submit" class="btn btn-outline-danger" style="background-color: #290202; width: 140px; padding: 10px; margin-right: 280px;">Cancelar</button>
</div>