<div class="container">
    <div class="container text-center" style="margin:30px">
        <h2> <i class="bi bi-truck"></i> Listado de proveedores</h2>
    </div>
    <table class="table table-hover align-middle">
  <thead>
    <tr>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-qr-code"></i> ID</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-book-half"></i> Nombre</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-telephone"></i> Teléfono</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-envelope-at-fill"></i> Email</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-geo-fill"></i> Localización</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-r-square"></i> Especialización</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-box-seam"></i> Plazo de Entrega</th>
    </tr>
  </thead>
  <tbody>
    @for (proveedor of proveedores; track proveedor.id){
    <tr>
      <th scope="row">{{proveedor.id}}</th>
      <td>{{proveedor.nombre}}</td>
      <td>{{proveedor.telefono}}</td>
      <td>{{proveedor.email}}</td>
      <td>{{proveedor.localizacion}}</td>
      <td>{{proveedor.especializacion}}</td>
      <td>{{proveedor.plazoEntrega}}</td>
    </tr>
    }
  </tbody>
</table>
<div class="container2 text-center" style="margin: 30px;"></div>
  <button type="button" class="btn btn-dark" style="background-color:#100B5C;
  display:flex; flex-direction: row-reverse; justify-content: flex-start; flex-wrap: nowrap; align-items: flex-start; align-content: flex-start;">Añadir proveedores</button>
</div>