<div class="container">
    <div class="container text-center" style="margin:30px">
        <h2> <i class="bi bi-truck"></i> Listado de proveedores</h2>
    </div>
    <table class="table table-hover table-striped align-middle">
  <thead>
    <tr>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-qr-code"></i> ID</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-book-half"></i> Nombre</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-telephone"></i> Teléfono</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-envelope-at-fill"></i> Email</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-geo-fill"></i> Localización</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-r-square"></i> Especialización</th>
      <th scope="col" style="background-color: #041f3d;"><i class="bi bi-box-seam"></i> Plazo de Entrega</th>
    </tr>
  </thead>
  <tbody>
    @for (proveedor of proveedores; track proveedor.id){
    <tr>
      <th scope="row">{{proveedor.id}}</th>
      <td>{{proveedor.nombre}}</td>
      <td>{{proveedor.telefono}}</td>
      <td>{{proveedor.email}}</td>
      <td>{{proveedor.localizacion}}</td>
      <td>{{proveedor.especializacion}}</td>
      <td>{{proveedor.plazoEntrega}}</td>
    </tr>
    }
  </tbody>
</table>
<div class="container2 text-center" style="margin: 30px;">
  <button type="button" class="btn btn-dark" (click)="interfazAggProveedor()"
  style="background-color:#004A24;
  display:flex; flex-direction: row-reverse; justify-content: flex-start; flex-wrap: nowrap; align-items: center; align-content: flex-start;
  gap: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;"
  onmouseover="this.style.backgroundColor='#005E2C'; this.style.transform='scale(1.05)';"
  onmouseout="this.style.backgroundColor='#004A24'; this.style.transform='scale(1)';">
  <span>Añadir proveedores</span>
  <i class="bi bi-bag-plus"></i>
</button>
</div>
</div>